@import "tailwindcss";

@font-face {
  font-family: 'Melodrame';
  src: url('./fonts/RelationshipOfMelodrame.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.melodrame {
  font-family: 'Melodrame';
}

body {
  font-family: "Manrope", sans-serif;
}